;; shadow-cljs configuration
{;;:deps true
 :dependencies
 [[reagent "1.0.0-alpha2"]
  [re-frame "0.12.0"]
  [com.rpl/specter "1.1.3"]
  [metosin/spec-tools "0.10.3"]
  [camel-snake-kebab "0.4.1"]
  [appliedscience/js-interop "0.2.5"]]

 :builds
 {:app
  {:target     :react-native
   :init-fn    app.index/init
   :output-dir "build"
   :devtools   {:autoload true
                :preloads [shadow.expo.keep-awake]}}

  :test
  {:target    :node-test
   :output-to "test/node-tests.js"
   :autorun   true}}}
